@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
body {
    background-color: rgb(255, 230, 254);
    color: rgb(117, 122, 157);
    font-size: 16px;
    font-weight: 100;
    font-family: "Playwrite NZ Basic Guides", cursive;
}
a {
    color: rgb(192, 91, 133);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: rgb(102, 27, 50);
}
h1 {
    color: rgb(117, 122, 157);
    text-align: center;
}
h2 {
    font-size: 22px;
    text-align: center;
}
.кот {
    width:350px;
    border-radius: 50%;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25)
}
.инфо {
    padding: 10px 70px;
}
hr {
    color: rgb(117, 122, 157);
}
.весьтекст {
    max-width: 800px;
    margin: auto;

}
.таблица {
    width: 100%;
    text-align: center;
}
.таблица td:nth-child(1),
.таблица td:nth-child(3) {
    color: rgb(187, 93, 125);
}
.список {
    list-style: url(cattt20.png); 
}
.список li {
    margin-bottom: 10px;
}
.фотка {
    padding: 0 180px;
}

@media (max-width:700px) {
  .фотка {
      display: contents;
  }
}
.кнопка {
    color: rgb(192, 91, 133);
    background: rgb(255, 248, 255);
    padding: 10 15px;
    border:none;
    cursor: pointer;
}
.кнопка:hover {
    opacity: 0.9;
}